<mat-toolbar class="mat-elevation-z3">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="example-spacer"></span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    [opened]="isSidenavOpen"
    mode="side"
    [style.width]="sidenavWidth()"
    [@sidenavAnimation]="isSidenavOpen ? 'open' : 'closed'">
    
    <!-- Contenido del sidenav -->
    <div class="sidenav-header">
      <img
        src="logo.png"
        [width]="logoPicSize()"
        [height]="logoPicSize()"
        alt="Logo"
        routerLink=""
      />
    </div>

    <mat-nav-list>
      <ng-container *ngFor="let item of menuItems()">
        <a
          mat-list-item
          *ngIf="!item.subItems"
          [routerLink]="item.route"
          routerLinkActive
          #rla="routerLinkActive"
          [activated]="rla.isActive">
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle *ngIf="!collapsed()">{{ item.label }}</span>
        </a>
        <div *ngIf="item.subItems">
          <a mat-list-item (click)="toggleMenu(item)">
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            <span matListItemTitle *ngIf="!collapsed()">{{ item.label }}</span>
            <span matListItemMeta>
              <mat-icon>{{ item.expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
            </span>
          </a>
          <div [@menuState]="item.expanded ? 'expanded' : 'collapsed'">
            <ng-container *ngFor="let subItem of item.subItems">
              <a
                mat-list-item
                [routerLink]="subItem.route"
                routerLinkActive
                #subRla="routerLinkActive"
                [activated]="subRla.isActive"
                class="submenu-item">
                <mat-icon matListItemIcon>{{ subItem.icon }}</mat-icon>
                <span matListItemTitle *ngIf="!collapsed()">{{ subItem.label }}</span>
              </a>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Contenido principal del sitio (ajustará el margen según el estado del sidenav) -->
  <mat-sidenav-content [style.margin-left]="sidenavMargin()">
    <ng-content> </ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
