.login-container {
  display: flex;
  justify-content: space-between;
  height: 100vh;  /* Full height */
}

/* Estilo para la sección de imagen */
.image-section {
  flex: 1 1 45%;  /* La imagen ocupará el 35% del ancho */
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section img {
  max-width: 100%;  /* La imagen ocupará todo el espacio disponible */
  max-height: 100%;
  height: auto;
  object-fit: cover; 
}

/* Estilo para la sección del formulario de login */
.login-form-section {
  flex: 1 1 55%;  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

/* Estilo del card del login */
.login-card {
  max-width: 600px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Hacer que el formulario ocupe todo el ancho disponible */
.full-width {
  width: 100%;
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;  /* Apilar el formulario y la imagen en pantallas pequeñas */
  }

  .image-section {
    width: 100%;
    height: 200px;  /* Ajusta la altura de la imagen en móviles */
  }

  .login-form-section {
    width: 100%;
  }
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

button {
  width: 50%;
  margin: 0 25%;
}

button.mat-success {
  background-color: rgb(125, 191, 25);
  color: #fff;
}

button:hover {
  background-color: green; /* Color de fondo al pasar el mouse */
}
