<div mat-dialog-title>
  <h1>{{data ? 'Modificar': 'Agregar'}} Pais </h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content class="content">
      <div class="row">
          <mat-form-field appearance="outline">
              <mat-label>Nombre</mat-label>
              <input matInput type="text" placeholder="" formControlName="nombre">
          </mat-form-field>
          <mat-form-field appearance="outline">
              <mat-label>Id Afip</mat-label>
              <input matInput placeholder="" formControlName="id_afip">
          </mat-form-field>
      </div>
      <div class="row">
          <mat-form-field appearance="outline">
              <mat-label>CUIT Físicas</mat-label>
              <input matInput type="text"  placeholder="solo nros" formControlName="cuit_fisica">
          </mat-form-field>
          <mat-form-field appearance="outline">
              <mat-label>CUIT Jurídicas</mat-label>
              <input matInput type="text" placeholder="solo nros" formControlName="cuit_juridica">
          </mat-form-field>
          <mat-form-field appearance="outline">
              <mat-label>CUIT Otras</mat-label>
              <input matInput type="text" placeholder="solo nros"  formControlName="cuit_otra">
          </mat-form-field>
      </div>
    </div>
  <div mat-dialog-actions class="action-btns">
      <button style="margin: 10px;" mat-raised-button color="accent" type="submit">{{data ? 'Update': 'Save'}}</button>
      <button mat-raised-button type="button" color="warn" [mat-dialog-close]="false">Cancel</button>
  </div>
</form>
